<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!--responsive resizing for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css" media="screen"/>
    <title>Economeme</title>
 </head>
 <body>
 	<div class="container">
	 	<h1> This is base.html my dudes </h1>
	 	<ul class="nav nav-pills">
		  <li class="nav-item">
		    <a class="nav-link active" href="/">Home</a>
		  </li>
         {% if session.get('exist') == false or session.get('username') == None %}
         <li class="nav-item">
		    <a class="nav-link" href="/login">Login</a>
		  </li>  		
        {% else %}
          <li class="nav-item">
		    <a class="nav-link" href="/logout">Logout</a>
		  </li>
        {% endif %}
		</ul>

	    {% if session.get('exist') == false or session.get('username') == None %}
          <div class="alert alert-warning" role="alert">
  			<p> You are not logged in.</p>
		  </div>
        {% else %}
          <div class="alert alert-success" role="alert">
  			<p> You are logged in as: <strong>{{ session.get("username") }}</strong>! </p>
		  </div>
        {% endif %}


        

	 	<!-- content for individual html pages goes here -->
	 	<div id="content">
	            {% block content %}{% endblock %}
	    </div>
	</div>
	{% if error %}
		<div class="alert alert-danger" role="alert">
			<p class="error">Error! : {{ error }}</p>		
		</div>
	{% endif %}

 </body>
</html>