{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<!-- home section -->
<div id="home">
	<div class="container">
		<div class="row">
			<div class="col-lg-15 col-md-5"></div>
			<div class="col-lg-10 col-md-5">
				<!-- <h1>Welcome back {{ super() }}!</h1> -->
			</div>
			<div class="col-md-5 col-sm-3"></div>
		</div>
	</div>
</div>

<!-- divider section -->
<div class="divider">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="divider-wrapper divider-one">
					<i class="fa fa-laptop"></i>
					<h2>Trade</h2>
					<p>Make bets on memes you predict will blow up on the internet </p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="divider-wrapper divider-two">
					<i class="fa fa-mobile"></i>
					<h2>Earn</h2>
					<p>Make money off your bets! The riskier the wager, the higher the payout...</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="divider-wrapper divider-three">
					<i class="fa fa-life-ring"></i>
					<h2>Compete</h2>
					<p>Move up the leaderboard to become the top doge of the Stonk Market</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- portfolio section -->
<div id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12">
				<h2>Recent Projects</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.</p>
			</div>
         </div>
         
         <div class="row mt30">
            
			<div class="col-md-4 col-sm-4 col-xs-6">
				<a href="./static/images/portfolio-img1.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img1.jpg" alt="portfolio img"></a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6">
				<a href="./static/images/portfolio-img2.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img2.jpg" alt="portfolio img"></a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6">
				<a href="./static/images/portfolio-img3.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img3.jpg" alt="portfolio img"></a>
			</div>
            
			<div class="col-md-3 col-sm-6 col-xs-6">
				<a href="./static/images/portfolio-img4.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img4.jpg" alt="portfolio img"></a>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6">
				<a href="./static/images/portfolio-img5.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img5.jpg" alt="portfolio img"></a>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6">
				<a href="./static/images/portfolio-img6.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img6.jpg" alt="portfolio img"></a>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<a href="./static/images/portfolio-img7.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img7.jpg" alt="portfolio img"></a>
			</div>
			<div class="col-md-12 col-sm-12">
				<a rel="nofollow" href="http://www.templatemo.com/tag/darkgray" class="btn btn-default">View More</a>
			</div>
		</div>
	</div>
</div>		

<!-- footer section -->
<footer>
	<div class="container">
		<div class="row">
        
			<div class="col-md-5 col-sm-4">
				<p>Alvin Alaphat is a freshman at the University of Notre Dame.</p>
				<p><i class="fa fa-phone"></i> 636-373-0364</p>
				<p><i class="fa fa-envelope-o"></i> alvinalaphat@gmail.com</p>
              <p><i class="fa fa-globe"></i> www.github.com/alvinalaphat</p>
			</div>

			<div class="col-md-3 col-sm-4">
			</div>
            
			<div class="col-md-4 col-sm-4 newsletter">
				<h3>Alvin's Mailing List</h3>
				<div class="input-group">
           	    	<form action="#" method="post">
                        <input name="email" type="email" placeholder="Enter your email" class="form-control" autorequired>
                    	<button type="submit" name="submit" class="btn email">Submit</button>
                  	</form>
				 </div>
			</div>
            
		</div>
	</div>
</footer>


{% endblock content %}

<!-- javascript js -->	
<script src="./js/jquery.js"></script>
<script src="./js/bootstrap.min.js"></script>	
<script src="./js/nivo-lightbox.min.js"></script>
<script src="./js/custom.js"></script>

</body>
</html>